
AMSmoothAlertViewDemo.xcodeproj/xcuserdata/tjpaul.xcuserdatad/xcschemes/AMSmoothAlertViewDemo.xcscheme

AMSmoothAlertViewDemo.xcodeproj/project.xcworkspace/xcuserdata/tjpaul.xcuserdatad/UserInterfaceState.xcuserstate
